


.nav{
  grid-area: n;
  background: #FFD040;
}


.items {
  color: #8443D6;
  font-size: 25px;
  margin: 5px;
  padding: 20px;
  text-decoration: none;
}

.items a{
  text-decoration: none;
}
.activeLink{

  color:orange;
}
