


.header{
  grid-area: h;
  background-color: #8443D6;
}


.header img{
  height: 100%;
}
.authorized{
  float: right;
  margin-right: 25px;
  margin-top: 10px;
  color: white;
}
.authorized a{
  color: white;

}

