

.app-wrapper{
  display: grid;
  background:rosybrown;
  grid-template-areas:
    "h h"
     "n c"   ;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.header{
  grid-area: h;
}
.nav{
  grid-area: n;
  background: antiquewhite;
}
.content{
  background: blue;
  grid-area: c;
}

.header img{
  height: 100%;
}

